@import '../../App.scss';


.charts{
    display: flex;
    justify-content: space-between;
    width: 90%;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    @include small{
        flex-direction: column;
        align-items: center;
    }
    @include tablet{
        flex-direction: column;
        align-items: center;
    }

    .lineChart{

        width: 75%;
        background-color: white;
        border-radius: 10px;
        padding: .7rem;
        box-shadow: 2px 5px 5px #a3a2a2;
        
        @include mobile{
            width: 90%;
            margin-top: 2rem;
        }
        @include small{
            width: 90%;
            margin-top: 1rem;
        }
        @include tablet{
            width: 85%;
            margin-top: 1rem;
        }
    }
    
.pieChart{
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    box-shadow: 2px 5px 5px #a3a2a2;
    margin-left: 2rem;
    width: 25%;

    @include mobile{
        margin-top: 2rem;
        margin-left: 0;
        padding: 2rem 4rem;
        width: 90%;
    }
    @include small{
        margin-top: 2rem;
        margin-left: 0;
        padding: 2rem 3rem;
        width: 90%;
    }
    @include tablet{
        margin-top: 2.5rem;
        margin-left: 0;
        padding: 2.5rem 4rem;
        width: 85%;
    }

    .colorsDetails{
        display: flex;
        margin-top: 2rem;

        @include mobile{
            justify-content: center;
            margin-top: 1.5rem;
        }
        @include small{
            justify-content: center;
            margin-top: 1.5rem;
        }

        .color{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 0.7rem;
            margin-top: 11px;

            @include tablet{
                margin-right: 1rem;
            }
        }
        p{
            margin-top: .3rem;
            color: rgb(34, 34, 34);
            font-size: 0.9rem;

            @include tablet {
                font-size: 1.1rem;
            }
        }
    }
}
}