@import '../../App.scss';


.tableContainer{

    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    margin-bottom: 3rem;

    @include mobile{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include small{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include tablet{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

 .withPagination{

   width: 82%;

   @include mobile{
    width: 90%;
  }
  @include small{
    width: 90%;
  }
  @include tablet{
    width: 85%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #a3a2a2;
    background-color: white;
  
  
    @include tablet{
      margin-top: 2rem;
    }
    @include mobile{
      margin-top: 2rem;
    }
    @include small{
      margin-top: 2rem;
    }
  
  th,  td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 0.5rem;
  }
  
   th {
    color: rgb(41, 40, 40);
    padding: .8rem;
  }
  tr:nth-child(even){
    background-color: #ebebeb ;
  }
   tr:hover {
    background-color: #b1afaf;
    cursor: pointer;
    transition: 1s;
  }
  }

  .pagination{
    display: flex;
    align-items: center;
    justify-content: center;

    button{
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      box-shadow: 2px 5px 5px #a3a2a2;
      border-radius: 10px;
      margin: 1rem;
      padding: 0.7rem;

      @include mobile{
        margin: 0.6rem;
        padding: 0.5rem;
      }
      @include small{
        margin: 0.6rem;
        padding: 0.5rem;
      }
    }
    button:hover{
      cursor: pointer;
    }
    p{
      padding: 0.5rem;
      background-color: rgb(213, 244, 255);
      border-radius: 10px;
      margin: 0.3rem;
      color: rgb(53, 52, 52);

      p:hover{
        cursor: pointer;
      }
    }
    .active{
      p{
        background-color: rgb(117, 204, 238);
        color: white;
        box-shadow: 2px 5px 5px #a3a2a2;

      }
    }
  }

  }

  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 5px #a3a2a2;
    width: 18%;
    margin-top: 3rem;
    background-color: white;
    border-radius: 10px;

    @include mobile{
      width: 80%;
      margin-top: 1rem;
    }
    @include small{
      width: 80%;
      margin-top: .7rem;
    }
    @include tablet{
      width: 60%;
      margin-top: .7rem;
    }

    h6{
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    p{
        font-weight: 100;
        margin-top: 1rem;
    }

    .profileIMG{
        width: 100%;
    }
    .icons{
        img{
            width: 20px;
            margin: .6rem;
        }
    }
  }
}
